extends layout

block content
  h1= title
  p Welcome to #{title}
  p 
    a(href="/books/new") Create New Book
     
  
  each b in book
    table(style="../public/stylesheets/style.css") 
      tr 
        th Title
        th Author
        th Genre
        th Year
      tr 
        td #{b.title} 
        td #{b.author}
        td #{b.genre}
        td #{b.year} 
