extends ./layout

block content
  h1= title
  
  p Welcome to #{title}
  p 
    a(class="button" href="/books/new") Create New Book
     
  table
    thread
      tr 
        th Title
        th Author
        th Genre
        th Year
    tbody 
      each b in book
        tr 
          td  
            a(href=`/books/${b.id}`)=b.title
          td=b.author
          td=b.genre
          td=b.year
